{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="comtainer">
    <div class="row">
        <div class="col-md-6">
            <img src="{{b.image.url}}" width="300" height="350">
        </div>
<div class="col-md-6">
    <h4>{{b.title}}</h4>
    <h6>{{b.desc}}</h6>
    <h6>{{b.year}}</h6>


    <a href="{% url 'card:movieupdate' b.id %}" class="btn btn-danger">UPDATE</a>
    <a href="{% url 'card:moviedelete' b.id %}" class="btn btn-danger">Delete</a>
</div>
    </div>
</div>

{% endblock %}